@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Noto Sans Thai", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.modal-content {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

/* Glassmorphism */
.glass-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  color: white;
}

/* Neumorphism */
.neumorphism {
  background: #1e1e1e;
  box-shadow: 5px 5px 15px #141414, -5px -5px 15px #2a2a2a;
  border-radius: 12px;
  padding: 15px;
}
